<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h2 class="mt-4" style="font-size: 27px">Usuarios</h2>

        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item active">Listado usuarios</li>
        </ol>

        <div class="card mb-4">
          <div
            class="card-header"
            style="padding: 6px; background-color: rgba(17, 17, 17, 0.116)"
          >
            <div class="d-flex justify-content-end">
              <a
                [routerLink]="['../crear-usuario']"
                class="btn btn-agregar-usuario"
              >
                Agregar usuario</a
              >
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" style="width: 100%">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="input-group">
                    <button type="button" class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </button>
                    <input
                      style="margin-left: auto; margin-right: auto"
                      class="busqueda-usuario form-control"
                      placeholder="Buscar por nombre, apellido, documento o correo"
                      id="buscar"
                      name="buscar"
                      aria-label="Search"
                      [(ngModel)]="cadena"
                    />
                  </div>
                </div>
              </div>
              <br />
              <table
                class="dataTable-table table-striped table-bordered"
                id="searchTable"
              >
                <thead>
                  <tr>
                    <th class="col-codigo" scope="col">Código</th>
                    <th scope="col"><i class="fa-solid fa-filter"></i> Nombre</th>
                    <th scope="col"><i class="fa-solid fa-filter"></i> Apellido</th>
                    <th scope="col"><i class="fa-solid fa-filter"></i> Documento</th>
                    <th scope="col"><i class="fa-solid fa-filter"></i> Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Estado</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-light"
                    *ngFor="
                      let objUsu of arregloUsuarios
                        | filterBy
                          : [
                              'nombresUsuario',
                              'apellidosUsuario',
                              'documentoUsuario',
                              'correoAcceso'
                            ]
                          : cadena
                        | paginate
                          : {
                              id: 'codiguitoPaginacion',
                              itemsPerPage: cantidadMostrar,
                              currentPage: paginaActual,
                              totalItems: cantidadTotalRegistros
                            }
                    "
                  >
                    <th>{{ objUsu.codUsuario }}</th>
                    <td>{{ objUsu.nombresUsuario }}</td>
                    <td>{{ objUsu.apellidosUsuario }}</td>
                    <td>{{ objUsu.documentoUsuario }}</td>
                    <td>{{ objUsu.correoAcceso }}</td>
                    <td>{{ objUsu.nombreRol}}</td>
                    <td>{{ objUsu.telefonoUsuario }}</td>
                    <td>
                      <p
                        *ngIf="
                          arregloEstados[objUsu.estadoUsuario].estado ===
                          'Inactivo'
                        "
                        class="inactivo"
                      >
                        {{ arregloEstados[objUsu.estadoUsuario].estado }}
                      </p>
                      <p
                        *ngIf="
                          arregloEstados[objUsu.estadoUsuario].estado ===
                          'Activo'
                        "
                        class="activo"
                      >
                        {{ arregloEstados[objUsu.estadoUsuario].estado }}
                      </p>
                    </td>
                    <td>
                      <a
                        [routerLink]="['../editar-usuario/', objUsu.codUsuario]"
                      >
                        <i class="far fa-edit"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row" style="width: 100%">
                <div class="col-md-6" style="padding-left: 38px">
                  <small
                    ><strong>{{ cantidadTotalRegistros }} </strong>registros
                    encontados en <strong>{{ cantidadPaginas }}</strong> páginas
                  </small>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                  <small>
                    <pagination-controls
                      id="codiguitoPaginacion"
                      (pageChange)="paginaActual = $event"
                      [directionLinks]="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    >
                    </pagination-controls>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
