<main>
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-6">
        <h2 style="font-size: 25px; margin-top: 19px">Modificar rol</h2>
      </div>
      <div class="col-md-6">
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio-dash']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/roles/listar-rol']">Listado roles</a>
          </li>
          <li class="breadcrumb-item active">Modificar rol</li>
        </ol>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header"
        style="padding: 21px; background-color: rgba(17, 17, 17, 0.116)"
      ></div>
      <div class="card-body">
        <form>
          <div class="table-responsive">
            <div class="row mb-3" style="width: 100%">
              <div class="col-md-6" style="width: 50%">
                <div class="form-group">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label
                          for="nomPro"
                          class="input-group-text"
                          style="background-color: rgba(17, 17, 17, 0.116)"
                          >Nombre del rol</label
                        >
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        name="nom"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" style="width: 50%">
                <div class="form-group">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label
                          for="docUsu"
                          class="input-group-text"
                          style="background-color: rgba(17, 17, 17, 0.116)"
                          >Estado</label
                        >
                      </div>
                      <select class="form-control">
                        <option value>Seleccione un estado</option>
                        <option>Activo</option>
                        <option>Inactivo</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p style="text-align: center; margin-bottom: 10px">
            <button type="submit" class="btn btn-primary">
              Actualizar rol
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</main>
