<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h2 class="mt-4" style="font-size: 27px">Responder Encuesta</h2>
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Encuestas</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/estudiante/listar-encuesta']"
              >Listar encuestas</a
            >
          </li>
          <li class="breadcrumb-item active">Responder</li>
        </ol>

        <br />

        <form #frmModificarEncuesta="ngForm" novalidate>
          <div class="card mb-4 encabezado">
            <div
              class="card-header"
              style="
                padding-bottom: 32px;
                background-color: rgba(17, 17, 17, 0.116);
              "
            ></div>

            <div class="card-body">
              <div class="tiulo-encuesta">
                <p style="text-align: center">
                  <input
                    readonly
                    type="text"
                    id="titulo"
                    name="titulo"
                    [(ngModel)]="objEncuesta.nombreEncuesta"
                    #titulo="ngModel"
                    class="titulo-formulario"
                  />
                </p>
              </div>
              <br />
              <div class="row mb-3">
                <div class="col-md-13">
                  <div class="form-group">
                    <div class="form-floating mb-3 mb-md-0">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <label>Fecha de inicio:</label>
                          <input
                            class="fecha-encuesta"
                            readonly
                            type="date"
                            id="fecha_inicio"
                            name="fecha_inicio"
                            [(ngModel)]="objEncuesta.fechaCreacionEncuesta"
                            #fecha_inicio="ngModel"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-13">
                  <div class="form-group">
                    <div class="form-floating mb-3 mb-md-0">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <label>Fecha de cierre:</label>
                          <input
                            readonly
                            class="fecha-encuesta"
                            type="date"
                            id="fecha_cierre"
                            name="fecha_cierre"
                            value="2022-07-22"
                            [(ngModel)]="objEncuesta.fechaCierreEncuesta"
                            #fecha_cierre="ngModel"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-13">
                  <label>Tipo de evento:</label>
                  <div class="form-group">
                    <div class="form-floating mb-3 mb-md-0">
                      <div class="input-group mb-2 mr-sm-2">
                        <select
                          name="eventos"
                          id="eventos"
                          class="fecha-encuesta"
                          [(ngModel)]="objEncuesta.codTipoEvento"
                          aria-label="Default select example"
                          #eventos="ngModel"
                          disabled
                        >
                          <option value="0">Elija una opción</option>
                          <option
                            *ngFor="let objEventos of arregloEvento"
                            value="{{ objEventos.codTipoEvento }}"
                          >
                            {{ objEventos.nombreTipoEvento }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-13">
                  <label>Dependencia:</label>
                  <div class="form-group">
                    <div class="form-floating mb-3 mb-md-0">
                      <div class="input-group mb-2 mr-sm-2">
                        <select
                          name="tipo_dependencia"
                          id="tipo_dependencia"
                          class="fecha-encuesta"
                          aria-label="Default select example"
                          [(ngModel)]="objEncuesta.codTipoDependencia"
                          #tipo_dependencia="ngModel"
                          disabled
                        >
                          <option value="0">Elija una opción</option>
                          <option
                            *ngFor="
                              let objTipoDependencia of arregloTiposDependencia
                            "
                            value="{{ objTipoDependencia.codTipoDependencia }}"
                          >
                            {{ objTipoDependencia.nombreTipoDependencia }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tiulo-encuesta">
                <textarea
                  class="descripcion-formulario"
                  placeholder="Descripción del formulario"
                  id="descripcion"
                  name="descripcion"
                  [(ngModel)]="objEncuesta.descripcionEncuesta"
                  #descripcion="ngModel"
                  readonly
                ></textarea>
              </div>
            </div>
          </div>

          <div *ngFor="let pregunta of arregloPreguntas; let indice = index">
            <div [ngSwitch]="pregunta.codTipoPregunta">
              <!--Pregunta y respuesta de fecha---->
              <div *ngSwitchCase="1" class="card mb-4 seccion-preguntas">
                <div class="form-floating">
                  <textarea
                    class="pregunta"
                    id="floatingTextareaFecha"
                    [name]="fecha + '_' + indice"
                    [(ngModel)]="pregunta.descripcionPregunta"
                    #fecha="ngModel"
                    readonly
                  ></textarea>
                </div>
                <br />
                <div>
                  <input
                    class="respuesta-fecha"
                    type="date"
                    id="respuesta_fecha"
                    name="respuesta_fecha"
                    min="2022-01-01"
                    max="2040-12-31"
                    required
                  />
                </div>
              </div>

              <!--!--Pregunta y respuesta abierta---->
              <div *ngSwitchCase="2" class="card mb-4 seccion-preguntas">
                <div class="form-floating">
                  <textarea
                    class="pregunta"
                    placeholder="Escriba la pregunta"
                    id="floatingTextareaAbierta"
                    [name]="abierta + '_' + indice"
                    [(ngModel)]="pregunta.descripcionPregunta"
                    #abierta="ngModel"
                    readonly
                  ></textarea>
                </div>
                <div>
                  <textarea
                    placeholder="Escriba aquí su respuesta"
                    class="respuesta-abierta"
                  ></textarea>
                </div>
              </div>

              <!--!--Pregunta y respuesta de selección multiple-->
              <div *ngSwitchCase="3" class="card mb-4 seccion-preguntas">
                <div class="form-floating">
                  <textarea
                    class="pregunta"
                    placeholder="Escriba la pregunta"
                    id="seleccion{{ indice }}"
                    name="seleccion{{ indice }}"
                    [(ngModel)]="pregunta.descripcionPregunta"
                    #seleccion="ngModel"
                    readonly
                  ></textarea>
                </div>
                <div
                  class="row"
                  *ngFor="
                    let opcion of pregunta.arregloOpciones;
                    let indiceOp = index
                  "
                >
                  <div class="col-md-8 custom-control custom-radio">
                    <input
                      type="radio"
                      name="customRadio"
                      class="custom-control-input"
                      id="radio"
                    />&nbsp;
                    <input
                      type="text"
                      class="custom-control-label"
                      for="customRadio1"
                      placeholder="Opción"
                      id="opcion{{ indiceOp }}{{ indice }}"
                      name="opcion{{ indiceOp }}{{ indice }}"
                      #opcion="ngModel"
                      [(ngModel)]="opcion.textoOpcion"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </main>
  </div>
</div>
