<html lang="en">
  <head> </head>
  <body>
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <nav
            id="yt_menuwrap"
            class="block"
            style="text-align: center; position: fixed"
          >
            <img
              class="logo-login"
              src="../../../../assets/img/Recurso 13.png"
            />
          </nav>

          <div class="container padre">
            <div class="row_login justify-content-center">
              <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header" style="height: 40px">
                    <h5 class="text-center font-weight-bold">
                      <b>Crear cuenta</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <form
                      #frmRegistrar="ngForm"
                      (submit)="
                        frmRegistrar.form.valid && crearUsuario(frmRegistrar)
                      "
                    >
                      <br />
                      <div class="row mb-3">
                        <div class="col-md-7" style="width: 50%">
                          <div class="form-group">
                            <div class="form-floating mb-3 mb-md-0">
                              <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                  <label
                                    for="nomPro"
                                    class="input-group-text"
                                    style="background-color: #cfd3d4"
                                    >Nombre</label
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="nom"
                                  name="nom"
                                  required
                                  [(ngModel)]="objRegistro.nombresRegistro"
                                  #nom="ngModel"
                                  [ngClass]="{
                                    'is-invalid':
                                      frmRegistrar.submitted && nom.invalid
                                  }"
                                />
                              </div>
                              <span
                                class="text-danger"
                                *ngIf="frmRegistrar.submitted && nom.invalid"
                              >
                                <span *ngIf="nom.errors?.['required']">
                                  Nombre obligatorio
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-7" style="width: 50%">
                          <div class="form-group">
                            <div class="form-floating mb-3 mb-md-0">
                              <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                  <label
                                    for="docUsu"
                                    class="input-group-text"
                                    style="background-color: #cfd3d4"
                                    >Apellidos</label
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="ape"
                                  name="ape"
                                  required
                                  [(ngModel)]="objRegistro.apellidosRegistro"
                                  #ape="ngModel"
                                  [ngClass]="{
                                    'is-invalid':
                                      frmRegistrar.submitted && ape.invalid
                                  }"
                                />
                              </div>
                              <span
                                class="text-danger"
                                *ngIf="frmRegistrar.submitted && ape.invalid"
                              >
                                <span *ngIf="ape.errors?.['required']">
                                  Apellidos obligatorios
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6" style="width: 50%">
                          <div class="form-group">
                            <div class="form-floating mb-3 mb-md-0">
                              <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                  <label
                                    for="apeUsu"
                                    class="input-group-text"
                                    style="background-color: #cfd3d4"
                                    >Documento</label
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="doc"
                                  name="doc"
                                  required
                                  [(ngModel)]="objRegistro.documentoRegistro"
                                  #doc="ngModel"
                                  [ngClass]="{
                                    'is-invalid':
                                      frmRegistrar.submitted && doc.invalid
                                  }"
                                />
                              </div>
                              <span
                                class="text-danger"
                                *ngIf="frmRegistrar.submitted && doc.invalid"
                              >
                                <span *ngIf="doc.errors?.['required']">
                                  Número de documento obligatorio
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6" style="width: 50%">
                          <div class="form-group">
                            <div class="form-floating mb-3 mb-md-0">
                              <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                  <label
                                    for="corUsu"
                                    class="input-group-text"
                                    style="background-color: #cfd3d4"
                                    >Correo</label
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="cor"
                                  name="cor"
                                  required
                                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                                  [(ngModel)]="objRegistro.correoRegistro"
                                  #cor="ngModel"
                                  [ngClass]="{
                                    'is-invalid':
                                      frmRegistrar.submitted && cor.invalid
                                  }"
                                />
                              </div>
                              <span
                                class="text-danger"
                                *ngIf="frmRegistrar.submitted && cor.invalid"
                              >
                                <span *ngIf="cor.errors?.['required']">
                                  Correo obligatorio
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6" style="width: 50%">
                          <div class="form-group">
                            <div class="form-floating mb-3 mb-md-0">
                              <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                  <label
                                    for="claveUsu"
                                    class="input-group-text"
                                    style="background-color: #cfd3d4"
                                    >Contraseña</label
                                  >
                                </div>
                                <input
                                  type="password"
                                  class="form-control"
                                  id="contra"
                                  name="contra"
                                  required
                                  [(ngModel)]="objRegistro.claveRegistro"
                                  #contra="ngModel"
                                  [ngClass]="{
                                    'is-invalid':
                                      frmRegistrar.submitted && contra.invalid
                                  }"
                                />
                              </div>

                              <span
                                class="text-danger"
                                *ngIf="frmRegistrar.submitted && contra.invalid"
                              >
                                <span *ngIf="contra.errors?.['required']">
                                  Contraseña obligatoria
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6" style="width: 50%">
                          <div class="form-floating mb-3 mb-md-0">
                            <div class="input-group mb-2 mr-sm-2">
                              <div class="input-group-prepend">
                                <div
                                  class="input-group-text color-label"
                                  for="reclave"
                                  style="background-color: #cfd3d4"
                                >
                                  Confirmar contraseña
                                </div>
                              </div>
                              <input
                                type="password"
                                class="form-control"
                                id="cla"
                                name="cla"
                                required
                                class="form-control fs-13px"
                                [(ngModel)]="objRegistro.confirmarClaveRegistro"
                                [pattern]="objRegistro.claveRegistro"
                                #cla="ngModel"
                                [ngClass]="{
                                  'is-invalid':
                                    frmRegistrar.submitted && cla.invalid
                                }"
                              />
                            </div>
                            <span
                              class="text-danger"
                              *ngIf="frmRegistrar.submitted && cla.invalid"
                            >
                              <span *ngIf="cla.errors?.['required']">
                                Contraseña obligatoria
                              </span>
                              <span *ngIf="cla.errors?.['pattern']">
                                Contraseña Diferente
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <p style="text-align: center; margin-bottom: 0">
                        <button type="submit" class="btn btn-primary">
                          Registrar
                        </button>
                      </p>
                      <div class="olvido">
                        <a class="small" [routerLink]="['/land/public/login']"
                          >Ingrese con su cuenta aquí</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
