<html lang="en">
  <head> </head>
  <body>
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <nav id="yt_menuwrap" class="block" style="text-align: center">
            <img
              class="logo-login"
              src="../../../../assets/img/Recurso 13.png"
            />
          </nav>

          <div class="container">
            <div class="row_login justify-content-center">
              <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h5 class="text-center font-weight-bold">
                      <b>Acceso al sistema</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <form
                      #frmAcceso="ngForm"
                      (ngSubmit)="
                        frmAcceso.form.valid && verificarDatos(frmAcceso)
                      "
                    >
                      <p style="text-align: center">
                        <img
                          class="foto-login"
                          src="../../../../assets/img/acceso_login.webp"
                        />
                      </p>
                      <p style="text-align: center">
                        <label class="label-login">Usuario</label>
                      </p>

                        <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="usu"
                          id="usu"
                          placeholder="ejemplo@usantoto.edu.co"
                          [(ngModel)]="usuarioSeleccionado.correoAcceso"
                          #usu="ngModel"
                          required
                          [pattern]="patronCorreo"
                          [ngClass]="{
                            'is-invalid': frmAcceso.submitted && usu.invalid
                          }"
                        />
                        <label for="inputEmail">ejemplo@usantoto.edu.com</label>
                        </div>
                        <div
                          class="text-danger error"
                          *ngIf="frmAcceso.submitted && usu.invalid"
                        >
                          <span *ngIf="usu.errors?.['required']"
                            >Correo requerido</span
                          >
                          <span *ngIf="usu.errors?.['pattern']"
                            >Correo inválido</span
                          >
                        </div>


                      <p style="text-align: center">
                        <label class="label-login" style="text-align: center"
                          >Clave</label
                        >
                      </p>
                      <div class="form-group">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          type="password"
                          name="cla"
                          id="cla"
                          placeholder="Clave"
                          [(ngModel)]="usuarioSeleccionado.claveAcceso"
                          #cla="ngModel"
                          [ngClass]="{
                            'is-invalid': frmAcceso.submitted && cla.invalid
                          }"
                          required
                        />
                        <label for="inputEmail">clave123</label>
                      </div>
                    </div>

                        <div
                          class="text-danger error"
                          *ngIf="frmAcceso.submitted && cla.invalid"
                        >
                          <span *ngIf="cla.errors?.['required']"
                            >Contraseña requerida</span
                          >
                          <span *ngIf="cla.errors?.['minlenght']"
                            >Debe tener minimo 8 caracteres</span
                          >
                        </div>



                      <div class="d-grid mt-3 gap-2">
                        <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                      </div>

                    </form>
                  </div>
                </div>
                <div class="olvido">
                  <a class="small" [routerLink]="['/land/public/registrar']"
                    ><i class="fa-solid fa-chalkboard-user">&nbsp;&nbsp;</i>Registre su cuenta aquí</a
                  >
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
