<nav class="sb-topnav navbar navbar-dark bg-dark">
  <div style="position: absolute">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3"><img style="width: 50px"
        src="../../../../assets/img/Recurso 8.png" />&nbsp;&nbsp;<b>USTA</b></a>
    <!-- Sidebar Toggle-->

  </div>

  <!-- Nabvar user-->

  <div class="alineacion" style="margin-top:-12px">
    <div class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            haspopup="true" aria-expanded="false">
            <img class="user" [src]="'data:image/png;base64,'+objImagen.base64" alt="user" onerror="this.src='/assets/img/user.png'" />&nbsp;
            <span class="mr-2 d-none d-lg-inline text-gray-600 small1">{{respuestaToken.correoAcceso}}</span></a>
          <ul class="dropdown-menu dropdown-menu-dark drop-down-cabecera" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item"
              [routerLink]="['/private/usuario/perfil-usuario',objUsuarioSesion.codUsuario]">
              &nbsp;&nbsp;Editar perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" [routerLink]="['/inicio']" (click)="accesoService.salir()">Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
