.input-group-text {
  width: 179px;
}

.user-edit>img {
  max-width: 100%;
}

.button-form:active {
  background: white;
  border-bottom: 1px;
}

a {
  text-decoration: none;
}

.form-control1 {
  width: 169px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #495057;
  border-radius: 0.25rem;
}
