<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h2 class="mt-4" style="font-size: 27px">Encuestas</h2>

        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio-dash']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Encuestas</a>
          </li>
          <li class="breadcrumb-item active">Listado encuestas</li>
        </ol>

        <div class="card mb-4">
          <div
            class="card-header"
            style="
              padding-bottom: 32px;
              background-color: rgba(17, 17, 17, 0.116);
            "
          ></div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row buscar">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label for="codRol" class="input-group-text"
                          >Filtrar por</label
                        >
                      </div>
                      <select
                        class="form-select"
                        id="tipoDependencia"
                        name="tipoDependencia"
                        [(ngModel)]="objTipoDependencia.nombreTipoDependencia"
                        #tipoDependencia="ngModel"
                      >
                      <option value>Elija una facultad</option>
                        <option
                          *ngFor="
                            let tipoDependencia of arregloTiposDependencia
                          "
                          [value]="tipoDependencia.nombreTipoDependencia"
                        >
                          {{ tipoDependencia.nombreTipoDependencia }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <button class="btn btn-primary btn-buscar">
                      <i class="fas fa-search"></i>
                    </button>
                    <input
                      style="margin-left: auto; margin-right: auto"
                      class="busqueda-encuesta form-control"
                      placeholder="Buscar por nombre del evento"
                      id="buscar"
                      name="buscar"
                      aria-label="Search"
                      [(ngModel)]="busqueda"
                    />
                  </div>
                </div>
              </div>
              <br />
              <table
                class="dataTable-table table-striped table-bordered"
                id="searchTable"
              >
                <thead>
                  <tr>
                    <th style="width: 17%">Fecha de finalización</th>
                    <th style="width: 15%">Tipo Evento</th>
                    <th style="width: 30%">Nombre Evento</th>
                    <th style="width: 25%">Facultad</th>
                    <th style="width: 13%">Responder</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let objEncuesta of arregloEncuesta
                        | filterBy
                          : ['nombreEncuesta']
                          : busqueda
                          | filterBy
                          : ['nombreTipoDependencia']
                          : objTipoDependencia.nombreTipoDependencia
                        | paginate
                          : {
                              id: 'codiguitoPaginacion',
                              itemsPerPage: cantidadMostrar,
                              currentPage: paginaActual,
                              totalItems: cantidadTotalRegistros
                            }
                    "
                  >
                    <td>
                      {{ objEncuesta.fechaCierreEncuesta }}
                    </td>
                    <td>{{ objEncuesta.nombreTipoEvento }}</td>
                    <td>{{ objEncuesta.nombreEncuesta }}</td>
                    <td>{{ objEncuesta.nombreTipoDependencia }}</td>
                    <td>
                      <a
                        [routerLink]="[
                          '/private/estudiante/responder-encuesta'
                        ]"
                      >
                        <i class="fa-solid fa-spell-check"></i>&nbsp;Responder
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row" style="width: 100%">
                <div class="col-md-6" style="padding-left: 38px">
                  <small
                    ><strong>{{ cantidadTotalRegistros }} </strong>registros
                    encontados en <strong>{{ cantidadPaginas }}</strong> páginas
                  </small>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                  <small>
                    <pagination-controls
                      id="codiguitoPaginacion"
                      (pageChange)="paginaActual = $event"
                      [directionLinks]="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    >
                    </pagination-controls>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
