a{
  text-decoration: none;
}

.buscar{
  justify-content: center;
  width: 100%;
}


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-prepend{
  width: 36%;

}
