.btn-agregar-usuario{
  background-color: #008B8B;
  border-color: #008B8B ;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}

.roles{
  height: 30px;
}
.busqueda-usuario {
  width: 30%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.busqueda-usuario:focus,
.dataTable-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

a{
  text-decoration: none;
}

.inactivo{
  color: rgb(139, 18, 18);
  margin: 0;
}

.activo{
  color: green;
  margin: 0;
}




