<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h2 class="mt-4" style="font-size: 27px">Roles</h2>
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item active">Listado roles</li>
        </ol>
        <div class="card mb-4">
          <div
            class="card-header"
            style="padding: 20px; background-color: rgba(17, 17, 17, 0.116)"
          ></div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" style="width: 100%">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="input-group">
                    <button class="btn btn-primary btn-buscar">
                      <i class="fas fa-search"></i>
                    </button>
                    <input
                      style="margin-left: auto; margin-right: auto"
                      class="busqueda-usuario form-control"
                      placeholder="Buscar"
                      id="buscar"
                      name="buscar"
                      aria-label="Search"
                      [(ngModel)]="cadena"
                    />
                  </div>
                </div>
              </div>
              <br />
              <table class="dataTable-table table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10%">Código</th>
                    <th style="width: 30%">Nombre rol</th>
                    <th style="width: 20%">Estado</th>
                    <th style="width: 25%">Cantidad usuarios</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let objRol of arregloRoles
                        | filterBy: ['nombreRol']:cadena
                        | paginate
                          : {
                              id: 'codiguitoPaginacion',
                              itemsPerPage: cantidadMostrar,
                              currentPage: paginaActual,
                              totalItems: cantidadTotalRegistros
                            }
                    "
                  >
                    <td>{{ objRol.codRol }}</td>
                    <td>{{ objRol.nombreRol }}</td>
                    <td>
                      <p
                        *ngIf="
                          arregloEstados[objRol.estadoRol].estado === 'Inactivo'
                        "
                        class="inactivo"
                      >
                        {{ arregloEstados[objRol.estadoRol].estado }}
                      </p>
                      <p
                        *ngIf="
                          arregloEstados[objRol.estadoRol].estado === 'Activo'
                        "
                        class="activo"
                      >
                        {{ arregloEstados[objRol.estadoRol].estado }}
                      </p>
                    </td>
                    <td>{{ objRol.cantUsuarios }}</td>
                    <td>
                      <p style="text-align: center; margin: 0">
                        <a
                          [routerLink]="[
                            '/private/roles/editar-rol',
                            objRol.codRol
                          ]"
                          ><i class="far fa-edit" title="Modificar rol"></i></a
                        >
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="row" style="width: 100%">
                <div class="col-md-6" style="padding-left: 38px">
                  <small
                    ><strong>{{ cantidadTotalRegistros }} </strong>registros
                    encontados en <strong>{{ cantidadPaginas }}</strong> páginas
                  </small>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                  <small>
                    <pagination-controls
                      id="codiguitoPaginacion"
                      (pageChange)="paginaActual = $event"
                      [directionLinks]="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                    >
                    </pagination-controls>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Modal de eliminar -->
<ng-template #modalEliminar>
  <div class="modal-header bg-dark text-white py-2">
    <h5 class="modal-title">{{ modalTitulo }}</h5>
  </div>

  <div class="modal-body">
    <b>Rol:</b> {{ modalContenido }}
    <br />
    {{ modalCuerpo }}
  </div>

  <div class="modal-footer py-2">
    <button class="btn-danger btn-sm" (click)="botonEliminar()">
      Eliminar
    </button>
    <button class="btn btn-secondary btn-sm" (click)="cancelarEliminar()">
      Cancelar
    </button>
  </div>
</ng-template>
