<main>
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-6">
        <h2 style="font-size: 25px; margin-top: 19px">Usuarios</h2>
      </div>
      <div class="col-md-6">
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white;  margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/administrador/inicio-dash']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item active">Listado usuarios</li>
        </ol>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header"
        style="padding: 6px; background-color: rgba(17, 17, 17, 0.116)"
      >
        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/administrador/usuario/crear-usuario']"
            class="btn btn-agregar-usuario"
            >Agregar usuario</a
          >
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <input
            style="margin-left: auto; margin-right: auto"
            class="busqueda-usuario"
            id="inputBusqueda"
            placeholder="Buscar"
            aria-label="Search"
          />
          <br />
          <table
            class="dataTable-table table-striped table-bordered"
            id="searchTable"
          >
            <thead>
              <tr>
                <th class="col-codigo" scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Documento</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Celular</th>
                <th scope="col">Estado</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-light"
                *ngFor="
                  let objUsu of arregloUsuarios
                    | paginate
                      : {
                          id: 'codiguitoPaginacion',
                          itemsPerPage: cantidadMostrar,
                          currentPage: paginaActual,
                          totalItems: cantidadTotalRegistros
                        }
                "
              >
                <th>{{ objUsu.codUsuario }}</th>
                <td>{{ objUsu.nombresUsuario }}</td>
                <td>{{ objUsu.apellidosUsuario }}</td>
                <td>{{ objUsu.documentoUsuario }}</td>
                <td>{{ objUsu.correoUsuario }}</td>
                <td>{{ objUsu.nombreRol }}</td>
                <td>{{ objUsu.telefonoUsuario }}</td>
                <td>{{ arregloEstados[objUsu.estadoUsuario].estado }}</td>
                <td>
                  <a routerLink="['../modificar-usuario/' + objUsu.codUsuario ]"
                    ><i class="far fa-edit"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="width: 100%">
            <div class="col-md-6" style="padding-left: 38px">
              <small
                ><strong>{{ cantidadTotalRegistros }} </strong>registros
                encontados en <strong>{{ cantidadPaginas }}</strong> páginas
              </small>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <small>
                <pagination-controls
                  id="codiguitoPaginacion"
                  (pageChange)="paginaActual = $event"
                  [directionLinks]="true"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                >
                </pagination-controls>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
