<main>
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-6">
        <h2 style="font-size: 25px; padding-top: 10px">Crear Usuario</h2>
      </div>
      <div class="col-md-6" style="padding-right: 15px">
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 11px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio-dash']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/usuario/listar-usuario']"
              >Listado usuarios</a
            >
          </li>
          <li class="breadcrumb-item active">Crear usuarios</li>
        </ol>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header"
        style="background-color: rgba(17, 17, 17, 0.116)"
      >
        <br />
      </div>
      <div class="card-body">
        <form>
          <div
            class="row-mb-3 form-group"
            style="border-bottom: 1px solid rgba(0, 0, 0, 0.19)"
          >
            <div class="col-md-12">
              <div>
                <div>
                  <div>
                    <div style="text-align: center">
                      <div>
                        <img
                          class="img-edit"
                          onerror="this.src='../../../../assets/img/crear.usuario.png';"
                          style="width: 150px; height: 150px"
                        />
                      </div>
                      <div>
                        <input class="form-control1" />
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <p style="text-align: center; margin-top: -12px">
                  <button
                    type="button"
                    style="
                      background-color: #0c778d;
                      border-color: #0c778d;
                      color: white;
                      border-bottom-right-radius: 1px;
                    "
                    (click)="fileInput.click()"
                  >
                    <span>Agregar foto</span>
                    <input
                      #fileInput
                      type="file"
                      (change)="seleccionarFoto($event)"
                      style="display: none"
                    />
                  </button>
                </p>
              </div>
            </div>
          </div>
          <br />
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <label for="nomPro" class="input-group-text"
                        >Nombre</label
                      >
                    </div>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <label for="docUsu" class="input-group-text"
                        >Documento</label
                      >
                    </div>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <label for="apeUsu" class="input-group-text"
                        >Apellidos</label
                      >
                    </div>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <label for="telUsu" class="input-group-text"
                        >Teléfono</label
                      >
                    </div>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label for="corUsu" class="input-group-text"
                          >Correo</label
                        >
                      </div>
                      <input class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label for="ingresoUsu" class="input-group-text"
                          >Usuario</label
                        >
                      </div>
                      <input class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <label for="claveUsu" class="input-group-text"
                          >Contraseña</label
                        >
                      </div>
                      <input class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text" for="reclave">
                        Confirmar contraseña
                      </div>
                    </div>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Estado</div>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Rol asignado</div>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Tipo de documento</div>
                    </div>
                    <select class="form-control">
                      <option value>Seleccione un tipo de documento</option>
                      <option></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <p style="text-align: center; margin-bottom: 0">
              <button type="submit" class="btn btn-primary">Crear</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
