<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h2 class="mt-4" style="font-size: 27px">Modificar Encuesta</h2>
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Encuestas</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/encuestas/listar-encuesta']"
              >Listar encuestas</a
            >
          </li>
          <li class="breadcrumb-item active">Modificar</li>
        </ol>

        <!-- Tabs navs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <i class="fa-solid fa-clipboard"></i>
              Información de la encuesta
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              <i class="fa-solid fa-clipboard-question"></i>
              Preguntas de la encuesta
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              <i class="fa-solid fa-file-circle-plus"></i>
              Crear preguntas
            </button>
          </li>
        </ul>
        <br />

        <div class="tab-content" id="myTabContent">
          <!-- Información de la encuesta -->
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <form #frmModificarEncuesta="ngForm" novalidate>
              <div class="card encabezado">
                <div
                  class="card-header"
                  style="
                    padding-bottom: 32px;
                    background-color: rgba(17, 17, 17, 0.116);
                  "
                ></div>

                <div class="card-body">
                  <div class="tiulo-encuesta">
                    <p style="text-align: center">
                      <input
                        type="text"
                        id="titulo"
                        name="titulo"
                        [(ngModel)]="objEncuesta.nombreEncuesta"
                        #titulo="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            frmModificarEncuesta.submitted && titulo.invalid
                        }"
                        class="titulo-formulario"
                        placeholder="Nombre de la encuesta"
                        required
                      />
                    </p>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="frmModificarEncuesta.submitted && titulo.invalid"
                  >
                    <span
                      class="error-titulo"
                      *ngIf="titulo.errors?.['required']"
                      >Campo obligatorio</span
                    >
                  </div>
                  <br />
                  <br />
                  <div class="row mb-3">
                    <div class="col-md-13">
                      <div class="form-group">
                        <div class="form-floating mb-3 mb-md-0">
                          <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <label>Fecha de inicio:</label>
                              <input
                                class="fecha-encuesta"
                                type="date"
                                id="fecha_inicio"
                                name="fecha_inicio"
                                min="2022-01-01"
                                max="2040-12-31"
                                [(ngModel)]="objEncuesta.fechaCreacionEncuesta"
                                #fecha_inicio="ngModel"
                                [ngClass]="{
                                  'is-invalid':
                                    frmModificarEncuesta.submitted &&
                                    fecha_inicio.invalid
                                }"
                                required
                              />
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                frmModificarEncuesta.submitted &&
                                fecha_inicio.invalid
                              "
                            >
                              <span *ngIf="fecha_inicio.errors?.['required']"
                                >Campo obligatorio</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-13">
                      <div class="form-group">
                        <div class="form-floating mb-3 mb-md-0">
                          <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <label>Fecha de cierre:</label>
                              <input
                                class="fecha-encuesta"
                                type="date"
                                id="fecha_cierre"
                                name="fecha_cierre"
                                value="2022-07-22"
                                min="2022-01-01"
                                max="2040-12-31"
                                [(ngModel)]="objEncuesta.fechaCierreEncuesta"
                                #fecha_cierre="ngModel"
                                [ngClass]="{
                                  'is-invalid':
                                    frmModificarEncuesta.submitted &&
                                    fecha_cierre.invalid
                                }"
                                required
                              />
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                frmModificarEncuesta.submitted &&
                                fecha_cierre.invalid
                              "
                            >
                              <span *ngIf="fecha_cierre.errors?.['required']"
                                >Campo obligatorio</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-13">
                      <label>Tipo de evento:</label>
                      <div class="form-group">
                        <div class="form-floating mb-3 mb-md-0">
                          <div class="input-group mb-2 mr-sm-2">
                            <select
                              name="eventos"
                              id="eventos"
                              class="fecha-encuesta"
                              [(ngModel)]="objEncuesta.codTipoEvento"
                              aria-label="Default select example"
                              #eventos="ngModel"
                              [ngClass]="{
                                'is-invalid':
                                  frmModificarEncuesta.submitted &&
                                  eventos.invalid
                              }"
                              required
                            >
                              <div
                                class="text-danger"
                                *ngIf="
                                  frmModificarEncuesta.submitted &&
                                  eventos.invalid
                                "
                              >
                                <span *ngIf="eventos?.errors?.['required']"
                                  >Campo obligatorio</span
                                >
                              </div>

                              <option value="0">Elija una opción</option>
                              <option
                                *ngFor="let objEventos of arregloEvento"
                                value="{{ objEventos.codTipoEvento }}"
                              >
                                {{ objEventos.nombreTipoEvento }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-13">
                      <label>Dependencia:</label>
                      <div class="form-group">
                        <div class="form-floating mb-3 mb-md-0">
                          <div class="input-group mb-2 mr-sm-2">
                            <select
                              name="tipo_dependencia"
                              id="tipo_dependencia"
                              class="opciones-dependencias responsive"
                              aria-label="Default select example"
                              [(ngModel)]="objEncuesta.codTipoDependencia"
                              #tipo_dependencia="ngModel"
                              required
                            >
                              <option value="0">Elija una opción</option>
                              <option
                                *ngFor="
                                  let objTipoDependencia of arregloTiposDependencia
                                "
                                value="{{
                                  objTipoDependencia.codTipoDependencia
                                }}"
                              >
                                {{ objTipoDependencia.nombreTipoDependencia }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="tiulo-encuesta">
                    <textarea
                      class="descripcion-formulario"
                      placeholder="Descripción del formulario"
                      id="descripcion"
                      name="descripcion"
                      [(ngModel)]="objEncuesta.descripcionEncuesta"
                      #descripcion="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          frmModificarEncuesta.submitted && descripcion.invalid
                      }"
                      required
                    ></textarea>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      frmModificarEncuesta.submitted && descripcion.invalid
                    "
                  >
                    <span *ngIf="descripcion.errors?.['required']"
                      >Campo obligatorio</span
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div class="d-grid gap-2 d-md-flex">
                  <button
                    type="button"
                    class="btn btn-primary crear"
                    (click)="modificarEncuesta()"
                  >
                    Modificar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger crear"
                    [routerLink]="['/private/encuestas/listar-encuesta']"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- Preguntas de la encuesta -->
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <form #frmModificarPreguntas="ngForm" novalidate>
              <div class="card-body">
                <div
                  class="card-header"
                  style="
                    padding-bottom: 32px;
                    background-color: rgba(17, 17, 17, 0.116);
                  "
                ></div>
              </div>

              <!--Seccion de preguntas---->
              <div class="card-body">
                <div
                  *ngFor="let pregunta of arregloPreguntas; let indice = index"
                >
                  <div [ngSwitch]="pregunta.codTipoPregunta">
                    <!--Pregunta y respuesta de fecha---->
                    <div *ngSwitchCase="1" class="card mb-4 seccion-preguntas">
                      <div class="col-md-1 opciones-editar">
                        <i
                          class="fa-solid fa-file-pen opciones-editar"
                          title="Modificar pregunta"
                          (click)="modificarPregunta(pregunta)"
                        ></i
                        >&nbsp;
                        <i
                          class="fas fa-trash-can"
                          title="Eliminar pregunta"
                          (click)="eliminarPregunta(pregunta.codPregunta)"
                        ></i>
                      </div>
                      <div class="col-md-11">
                        <div class="form-floating">
                          <textarea
                            class="pregunta"
                            placeholder="Escriba la pregunta"
                            id="floatingTextareaFecha"
                            [name]="fecha + '_' + indice"
                            [(ngModel)]="pregunta.descripcionPregunta"
                            #fecha="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                frmModificarEncuesta.submitted && fecha.invalid
                            }"
                            required
                          ></textarea>
                          <div
                            class="text-danger"
                            *ngIf="
                              frmModificarEncuesta.submitted && fecha.invalid
                            "
                          >
                            <span *ngIf="fecha.errors?.['required']"
                              >Campo obligatorio</span
                            >
                          </div>
                        </div>
                      </div>
                      <br />
                      <div>
                        <input
                          class="fecha-encuesta"
                          type="date"
                          id="respuesta_fecha"
                          name="respuesta_fecha"
                          min="2022-01-01"
                          max="2040-12-31"
                          required
                        />
                      </div>
                    </div>

                    <!--!--Pregunta y respuesta abierta---->
                    <div *ngSwitchCase="2" class="card mb-4 seccion-preguntas">
                      <div class="col-md-1 opciones-editar">
                        <i
                          class="fa-solid fa-file-pen"
                          title="Modificar pregunta"
                          (click)="modificarPregunta(pregunta)"
                        ></i
                        >&nbsp;
                        <i
                          class="fas fa-trash-can"
                          title="Eliminar pregunta"
                          (click)="eliminarPregunta(pregunta.codPregunta)"
                        ></i>
                      </div>
                      <div class="col-md-11">
                        <div class="form-floating">
                          <textarea
                            class="pregunta"
                            placeholder="Escriba la pregunta"
                            id="floatingTextareaAbierta"
                            [name]="abierta + '_' + indice"
                            [(ngModel)]="pregunta.descripcionPregunta"
                            #abierta="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                frmModificarEncuesta.submitted &&
                                abierta.invalid
                            }"
                            required
                          ></textarea>
                          <div
                            class="text-danger"
                            *ngIf="
                              frmModificarEncuesta.submitted && abierta.invalid
                            "
                          >
                            <span *ngIf="abierta.errors?.['required']"
                              >Campo obligatorio</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <textarea
                          placeholder="Escriba aquí su respuesta"
                          class="respuesta-abierta"
                        >
                        </textarea>
                      </div>
                    </div>

                    <!--!--Pregunta y respuesta de selección multiple-->
                    <div *ngSwitchCase="3" class="card mb-4 seccion-preguntas">
                      <div class="col-md-1 opciones-editar">
                        <i
                          class="fa-solid fa-file-pen"
                          title="Modificar pregunta"
                          (click)="modificarPregunta(pregunta)"
                        ></i
                        >&nbsp;
                        <i
                          class="fas fa-trash-can"
                          title="Eliminar pregunta"
                          (click)="eliminarPregunta(pregunta.codPregunta)"
                        ></i>
                      </div>
                      <div class="col-md-11">
                        <div class="form-floating">
                          <textarea
                            class="pregunta"
                            placeholder="Escriba la pregunta"
                            id="seleccion{{ indice }}"
                            name="seleccion{{ indice }}"
                            [(ngModel)]="pregunta.descripcionPregunta"
                            #seleccion="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                frmModificarEncuesta.submitted &&
                                seleccion.invalid
                            }"
                            required
                          ></textarea>
                          <div
                            class="text-danger"
                            *ngIf="
                              frmModificarEncuesta.submitted &&
                              seleccion.invalid
                            "
                          >
                            <span *ngIf="seleccion.errors?.['required']"
                              >Campo obligatorio</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="row"
                        *ngFor="
                          let opcion of objPregunta.arregloOpciones;
                          let indiceOp = index
                        "
                      >
                        <div class="col-md-8 custom-control custom-radio">
                          <input
                            type="radio"
                            name="customRadio"
                            class="custom-control-input"
                            id="radio"
                          />&nbsp;
                          <input
                            type="text"
                            class="custom-control-label"
                            for="customRadio1"
                            placeholder="Opción"
                            id="opcion {{ indice }}{{ indiceOp }}"
                            name="opcion {{ indice }}{{ indiceOp }}"
                            #opcion="ngModel"
                            [(ngModel)]="opcion.textoOpcion"
                            required
                          />
                          <div class="col-md-3 custom-control custom-radio">
                            <i
                              class="fas fa-xmark"
                              title="Eliminar opción"
                              tooltip-dir="left"
                              (click)="eliminarOpciones(opcion)"
                            ></i
                            >&nbsp;&nbsp;
                            <i
                              class="fas fa-pen-to-square"
                              title="Modificar opción"
                              (click)="modificarOpcion(opcion)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Pregunta y respuesta de escala---->
                    <div *ngSwitchCase="4" class="card mb-4 seccion-preguntas">
                      <div class="col-md-1 opciones-editar">
                        <i
                          class="fa-solid fa-file-pen"
                          title="Modificar pregunta"
                          (click)="modificarPregunta(pregunta)"
                        ></i
                        >&nbsp;
                        <i
                          class="fas fa-trash-can"
                          title="Eliminar pregunta"
                          (click)="eliminarPregunta(pregunta.codPregunta)"
                        ></i>
                      </div>
                      <div class="col-md-11">
                        <div class="form-floating">
                          <textarea
                            class="pregunta"
                            placeholder="Pregunta"
                            id="floatingTextarea2"
                            [name]="escala + '_' + indice"
                            [(ngModel)]="pregunta.descripcionPregunta"
                            #escala="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                frmModificarEncuesta.submitted && escala.invalid
                            }"
                            required
                          ></textarea>
                          <div
                            class="text-danger"
                            *ngIf="
                              frmModificarEncuesta.submitted && escala.invalid
                            "
                          >
                            <span *ngIf="escala.errors?.['required']"
                              >Campo obligatorio</span
                            >
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                              >1</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                              >2</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            <label class="form-check-label" for="inlineRadio3"
                              >3</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio4"
                              value="option4"
                            />
                            <label class="form-check-label" for="inlineRadio4"
                              >4</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio5"
                              value="option5"
                            />
                            <label class="form-check-label" for="inlineRadio4"
                              >5</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-danger cancelar-preguntas"
                  [routerLink]="['/private/encuestas/listar-encuesta']"
                >
                  Cancelar
                </button>
                <app-scroll-to-top></app-scroll-to-top>
              </div>
            </form>
          </div>

          <!--Crear nuevas preguntas---->
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="card-body">
              <div
                class="card-header"
                style="
                  padding-bottom: 32px;
                  background-color: rgba(17, 17, 17, 0.116);
                "
              ></div>
              <div class="card seccion-tipo-pregunta">
                <div class="row mb-3 tipo-pregunta">
                  <div class="col-5">
                    <div class="form-floating mb-3 mb-md-0">
                      <div class="input-group mb-2 mr-sm-2 tipo-pregunta">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Tipo de pregunta</div>
                        </div>
                        <select
                          class="form-control"
                          name="tipo_pregunta"
                          [(ngModel)]="objPreguntaNueva.codTipoPregunta"
                          #tipo_pregunta="ngModel"
                          aria-label="Default select example"
                          [ngClass]="{
                            'is-invalid':
                              frmModificarEncuesta.submitted &&
                              tipo_pregunta.invalid
                          }"
                          required
                        >
                          <option value="0">Elija una opción</option>
                          <option
                            *ngFor="let objTipoPregunta of arregloTipoPreguntas"
                            value="{{ objTipoPregunta.codTipoPregunta }}"
                          >
                            {{ objTipoPregunta.nombreTipoPregunta }}
                          </option></select
                        >&nbsp;&nbsp;
                        <div *ngIf="objPreguntaNueva.codTipoPregunta !== 0">
                          <i
                            class="fa fa-circle-plus fa-2x"
                            title="Agregar pregunta"
                            (click)="
                              crearPreguntas(objPreguntaNueva.codTipoPregunta)
                            "
                          ></i>
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="
                            frmModificarEncuesta.submitted &&
                            tipo_pregunta.invalid
                          "
                        >
                          <span *ngIf="descripcion.errors?.['required']"
                            >Campo obligatorio</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Seccion de preguntas---->
            <div class="card-body">
              <div
                *ngFor="
                  let nuevaPregunta of arregloPreguntasNuevas;
                  let indice = index
                "
              >
                <div [ngSwitch]="nuevaPregunta.codTipoPregunta">
                  <!--Pregunta y respuesta de fecha---->
                  <div *ngSwitchCase="1" class="card mb-4 seccion-preguntas">
                    <i
                      class="fas fa-trash-can eliminar"
                      title="Eliminar pregunta"
                      (click)="eliminarPreguntaNueva(nuevaPregunta.codPregunta)"
                    ></i>
                    <div class="form-floating">
                      <textarea
                        class="pregunta"
                        placeholder="Escriba la pregunta"
                        id="floatingTextareaFecha"
                        [name]="fecha + '_' + indice"
                        [(ngModel)]="nuevaPregunta.descripcionPregunta"
                        #fecha="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            frmModificarEncuesta.submitted && fecha.invalid
                        }"
                        required
                      ></textarea>

                      <div
                        class="text-danger"
                        *ngIf="frmModificarEncuesta.submitted && fecha.invalid"
                      >
                        <span *ngIf="fecha.errors?.['required']"
                          >Campo obligatorio</span
                        >
                      </div>
                    </div>
                    <br />
                    <div>
                      <input
                        class="fecha-respuesta"
                        type="date"
                        id="respuesta_fecha"
                        name="respuesta_fecha"
                        min="2022-01-01"
                        max="2040-12-31"
                        required
                      />
                    </div>
                  </div>

                  <!--Pregunta y respuesta abierta---->
                  <div *ngSwitchCase="2" class="card mb-4 seccion-preguntas">
                    <i
                      class="fas fa-trash-can eliminar"
                      title="Eliminar pregunta"
                      (click)="eliminarPreguntaNueva(nuevaPregunta.codPregunta)"
                    ></i>
                    <div class="form-floating">
                      <textarea
                        class="pregunta"
                        placeholder="Escriba la pregunta"
                        id="floatingTextareaAbierta"
                        [name]="abierta + '_' + indice"
                        [(ngModel)]="nuevaPregunta.descripcionPregunta"
                        #abierta="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            frmModificarEncuesta.submitted && abierta.invalid
                        }"
                        required
                      ></textarea>
                      <div
                        class="text-danger"
                        *ngIf="
                          frmModificarEncuesta.submitted && abierta.invalid
                        "
                      >
                        <span *ngIf="abierta.errors?.['required']"
                          >Campo obligatorio</span
                        >
                      </div>
                    </div>
                    <div>
                      <textarea
                        placeholder="Escriba aquí su respuesta"
                        class="respuesta-abierta"
                      ></textarea>
                    </div>
                  </div>

                  <!--!--Pregunta y respuesta de selección multiple-->
                  <div *ngSwitchCase="3" class="card mb-4 seccion-preguntas">
                    <i
                      class="fas fa-trash-can eliminar"
                      title="Eliminar pregunta"
                      (click)="eliminarPreguntaNueva(nuevaPregunta.codPregunta)"
                    ></i>
                    <div class="form-floating">
                      <textarea
                        class="pregunta"
                        placeholder="Escriba la pregunta"
                        id="seleccion{{ indice }}"
                        name="seleccion{{ indice }}"
                        [(ngModel)]="nuevaPregunta.descripcionPregunta"
                        #seleccion="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            frmModificarEncuesta.submitted && seleccion.invalid
                        }"
                        required
                      ></textarea>
                      <div
                        class="text-danger"
                        *ngIf="
                          frmModificarEncuesta.submitted && seleccion.invalid
                        "
                      >
                        <span *ngIf="seleccion.errors?.['required']"
                          >Campo obligatorio</span
                        >
                      </div>
                    </div>
                    <div
                      class="row"
                      *ngFor="
                        let opcionNueva of nuevaPregunta.arregloOpcionesNuevas;
                        let indiceOp = index
                      "
                    >
                      <div class="col-md-9 custom-control custom-radio">
                        <input
                          type="radio"
                          name="customRadio"
                          class="custom-control-input"
                          id="radio"
                        />
                        <input
                          type="text"
                          class="custom-control-label"
                          for="customRadio1"
                          placeholder="Opción"
                          id="opcion{{ indiceOp }}{{ indice }}"
                          name="opcion{{ indiceOp }}{{ indice }}"
                          #opcion="ngModel"
                          [(ngModel)]="opcionNueva.textoOpcion"
                          required
                        />

                        <div class="col-md-3 custom-control custom-radio">
                          <i
                            class="fas fa-xmark"
                            title="Eliminar opción"
                            tooltip-dir="left"
                            (click)="eliminarOpcionesNuevas(indice, indiceOp)"
                          ></i>
                        </div>
                      </div>
                    </div>

                    <span
                      (click)="agregarOpcionesNuevas(nuevaPregunta.codPregunta)"
                      class="otra-opcion"
                      >Añadir opción</span
                    >
                  </div>

                  <!--Pregunta y respuesta de escala---->
                  <div *ngSwitchCase="4" class="card mb-4 seccion-preguntas">
                    <i
                      class="fas fa-trash-can eliminar"
                      title="Eliminar pregunta"
                      (click)="eliminarPreguntaNueva(nuevaPregunta.codPregunta)"
                    ></i>
                    <div class="form-floating">
                      <textarea
                        class="pregunta"
                        placeholder="Pregunta"
                        id="floatingTextarea2"
                        [name]="escala + '_' + indice"
                        [(ngModel)]="nuevaPregunta.descripcionPregunta"
                        #escala="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            frmModificarEncuesta.submitted && escala.invalid
                        }"
                        required
                      ></textarea>
                      <div
                        class="text-danger"
                        *ngIf="frmModificarEncuesta.submitted && escala.invalid"
                      >
                        <span *ngIf="escala.errors?.['required']"
                          >Campo obligatorio</span
                        >
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-md-9">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                          />
                          <label class="form-check-label" for="inlineRadio1"
                            >1</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                          />
                          <label class="form-check-label" for="inlineRadio2"
                            >2</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio3"
                            value="option3"
                          />
                          <label class="form-check-label" for="inlineRadio3"
                            >3</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio4"
                            value="option4"
                          />
                          <label class="form-check-label" for="inlineRadio4"
                            >4</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio5"
                            value="option5"
                          />
                          <label class="form-check-label" for="inlineRadio4"
                            >5</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="d-grid gap-2 d-md-flex">
                <button
                  type="button"
                  class="btn btn-primary cancelar-preguntas"
                  (click)="guardarPreguntasNuevas()"
                >
                  Crear pregunta
                </button>
                <button
                  type="button"
                  class="btn btn-danger cancelar-preguntas"
                  [routerLink]="['/private/encuestas/listar-encuesta']"
                >
                  Cancelar
                </button>
                <app-scroll-to-top></app-scroll-to-top>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
