.card-header-inicio{
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  margin-top: 90px;
}

.imagen-inicio {
  display: block;
  width: 80%;
  margin: auto;
}

.titulo-inicio{
  font-family: 'Times';
  font-size: 26px;
  text-align: center;
}
