<main>
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-6">
        <h2 style="font-size: 25px; margin-top: 19px">Roles</h2>
      </div>
      <div class="col-md-6">
        <ol
          class="breadcrumb d-flex justify-content-end"
          style="background-color: white; margin-top: 24px"
        >
          <li class="breadcrumb-item">
            <a [routerLink]="['/private/inicio-dash']"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Administrador</a>
          </li>
          <li class="breadcrumb-item active">Listado roles</li>
        </ol>
      </div>
    </div>
    <div class="card mb-4">
      <div
        class="card-header"
        style="padding: 6px; background-color: rgba(17, 17, 17, 0.116)"
      >
        <div class="d-flex justify-content-end">
          <a
            [routerLink]="['/private/roles/crear-rol']"
            class="btn btn-agregar-usuario"
            >Agregar rol</a
          >
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <div class="row" style="width: 100%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="input-group">
                <input
                  style="margin-left: auto; margin-right: auto"
                  class="busqueda-usuario form-control"
                  placeholder="Buscar"
                  id="buscar"
                  name="buscar"
                  aria-label="Search"
                  [(ngModel)]="cadena"
                  [typeahead]="arregloBuscar"
                />
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="obtenerRolesBuscar(cadena)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <br />
          <table
            class="dataTable-table table-striped table-bordered"
            id="searchTable"
          >
            <thead>
              <tr>
                <th style="width: 10%">Código</th>
                <th style="width: 40%">Nombre rol</th>
                <th style="width: 20%">Estado</th>
                <th style="width: 20%">Cantidad usuarios</th>
                <th style="width: 10"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let objRol of arregloRoles
                    | paginate
                      : {
                          id: 'codiguitoPaginacion',
                          itemsPerPage: cantidadMostrar,
                          currentPage: paginaActual,
                          totalItems: cantidadTotalRegistros
                        }
                "
              >
                <td>{{ objRol.codRol }}</td>
                <td>{{ objRol.nombreRol }}</td>
                <td>{{ arregloEstados[objRol.estadoRol].estado }}</td>
                <td>{{ objRol.cantUsuarios }}</td>
                <td>
                  <p style="text-align: center; margin: 0">
                    <a [routerLink]="['/private/roles/editar-rol',objRol.codRol]"
                      ><i class="far fa-edit"></i></a
                    >&nbsp;
                    <i
                      *ngIf="objRol.cantUsuarios == 0"
                      class="fa fa-trash"
                      style="color: rgb(211, 72, 72); cursor: pointer"
                      (click)="abrirModalElimnar(modalEliminar, objRol)"
                    ></i>
                    <i
                      *ngIf="objRol.cantUsuarios != 0"
                      class="fa fa-trash"
                      style="color: #b6b6b6"
                    ></i>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="width: 100%">
            <div class="col-md-6" style="padding-left: 38px">
              <small
                ><strong>{{ cantidadTotalRegistros }} </strong>registros
                encontados en <strong>{{ cantidadPaginas }}</strong> páginas
              </small>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <small>
                <pagination-controls
                  id="codiguitoPaginacion"
                  (pageChange)="paginaActual = $event"
                  [directionLinks]="true"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                >
                </pagination-controls>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal de eliminar -->
<ng-template #modalEliminar>
  <div class="modal-header bg-dark text-white py-2">
    <h5 class="modal-title">{{ modalTitulo }}</h5>
  </div>

  <div class="modal-body">
    <b>Rol:</b> {{ modalContenido }}
    <br />
    {{ modalCuerpo }}
  </div>

  <div class="modal-footer py-2">
    <button class="btn-danger btn-sm" (click)="botonEliminar()">
      Eliminar
    </button>
    <button class="btn btn-secondary btn-sm" (click)="cancelarEliminar()">
      Cancelar
    </button>
  </div>
</ng-template>


